In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
import os
import sklearn
from sklearn.cluster import KMeans
import pylab as pl

In [2]:
#creating path
path = r'/Users/rayruslijunior/04-2022 Munich Airbnb Data Analysis'

In [3]:
#import data
df = pd.read_csv(os.path.join(path,'02 Data','Prepared Data','munich_clean2.csv'))

In [4]:
df.head()

,Unnamed: 0,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,calculated_host_listings_count,availability_365,number_of_reviews_ltm,price_category,rental_term,host_type
0,0,Hadern,48.11492,11.48954,Entire home/apt,80.0,2,129,2,22,0,Middle price,Short term,Commercial host
1,1,Berg am Laim,48.12071,11.63758,Entire home/apt,95.0,2,53,2,52,0,Middle price,Short term,Commercial host
2,2,Maxvorstadt,48.15199,11.56482,Entire home/apt,99.0,3,101,1,4,8,Middle price,Short term,Private host
3,3,Pasing-Obermenzing,48.13855,11.46586,Entire home/apt,52.0,3,34,1,0,0,Low price,Short term,Private host
4,4,Sendling-Westpark,48.10814,11.52733,Private room,55.0,2,496,1,162,18,Low price,Medium term,Private host

In [5]:
# Compare private vs commercial hosts 
df['host_type'].value_counts(dropna=False)

Private host       3424
Commercial host    1571
Name: host_type, dtype: int64

In [6]:
# Check income mean
df.groupby('host_type').agg({'price': ['mean', 'min', 'max', 'sum']})

                      price
                       mean   min     max            sum
host_type
Commercial host  131.220716  19.0  8000.0  206147.744737
Private host     112.554489   9.0  7749.0  385386.568769

In [8]:
# See availability grouped by host type
df.groupby('host_type').agg({'availability_365': ['mean', 'min', 'max']})

                availability_365
                            mean min  max
host_type
Commercial host       178.408657   0  365
Private host          115.783002   0  365

In [10]:
df.groupby('room_type').agg({'price': ['mean', 'min', 'max']})

                      price
                       mean   min     max
room_type
Entire home/apt  133.321518   9.0  8000.0
Hotel room       162.400447  44.0   573.0
Private room      93.930481   9.0  5000.0
Shared room       90.835821  19.0   600.0

In [11]:
# Compare room types 
df['room_type'].value_counts(dropna=False)

Entire home/apt    3014
Private room       1858
Shared room          67
Hotel room           56
Name: room_type, dtype: int64

In [20]:
ng = df['neighbourhood'].value_counts().reset_index()
ng.columns = ['Neighbourhood', 'Count']
ng['Percent'] = ng['Count']/ng['Count'].sum() * 100
ng

                                        Neighbourhood  Count    Percent
0                        Ludwigsvorstadt-Isarvorstadt    598  11.971972
1                                         Maxvorstadt    424   8.488488
2                                      Schwabing-West    355   7.107107
3                                       Au-Haidhausen    326   6.526527
4                               Neuhausen-Nymphenburg    301   6.026026
5                                  Schwabing-Freimann    292   5.845846
6                                         Bogenhausen    231   4.624625
7                                  Ramersdorf-Perlach    218   4.364364
8                                   Sendling-Westpark    189   3.783784
9                               Milbertshofen-Am Hart    181   3.623624
10                                           Sendling    178   3.563564
11                                     Altstadt-Lehel    177   3.543544
12                                        Obergiesing    172   3.443443
13  Thalkirchen-Obersendling-Forstenried-Fürstenri...    172   3.443443
14                                      Tudering-Riem    171   3.423423
15                                   Schwanthalerhöhe    155   3.103103
16                                               Laim    150   3.003003
17                                 Pasing-Obermenzing    136   2.722723
18                            Untergiesing-Harlaching    127   2.542543
19                                            Moosach    125   2.502503
20                                       Berg am Laim     97   1.941942
21                             Feldmoching-Hasenbergl     65   1.301301
22                         Aubing-Lochhausen-Langwied     59   1.181181
23                                             Hadern     51   1.021021
24                                Allach-Untermenzing     45   0.900901